<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.charon.boot.mapper.UserEntityMapper">
   <!-- <resultMap id="userEntity" type="com.charon.boot.model.UserEntity">
        <id column="id" property="id"></id>
        <result column="username" property="userName"></result>
        <result column="password" property="passWord"></result>
        <result column="tel" property="tel"></result>
        <result column="relname" property="relName"></result>
    </resultMap>-->
    <select id="findByUserName" resultType="com.charon.boot.model.UserEntity">
        select id,username ,password ,tel,relname
        from user_entity where username=#{username}
    </select>

    <select id="findByUserNameAndPassWord" resultType="com.charon.boot.model.UserEntity">
        select id,username ,password ,tel,relname
        from user_entity where username=#{username} and password=#{password}
    </select>

    <insert id="saveUserEntity">
        insert into user_entity(username,password,tel,relname)
        values (#{username},#{password},#{tel},#{relname})
    </insert>
</mapper>